<template id="candle-template">
    <style>
        .candle {
            width: 50px;
            height: 100px;
            background: orange;
            border-radius: 50%;
            border-bottom-left-radius: 50% 30%;
            border-bottom-right-radius: 50% 30%;
            bottom: 50%;
        }

        candle::after {
            background: red;
            width: 50px;
            height: 30px;
            /*z-index: 99;*/
        }
    </style>
    <link rel="stylesheet" href="/src/components/candle/candle.scss">
    <div class="candle-container">
        <div class="candle">
            im a candle
        </div>
    </div>
</template>
